* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background: #f8f8ff;
    color: #252525;
}

header {
    text-align: center;
    text-transform: uppercase;
    padding: 32px;
    background-color: #001F3F;
    color: #f8f8ff;
    border-bottom: 4px solid #EAD8B1;
}

footer {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
    padding: 20px 50px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
}

#gallery img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}